:root {
  --base-font-family: "Operator SSm A", "Operator SSm B";
  --base-font-weight: 400;
  --base-color: white;
  --base-font-size: 14px;

  --sidebar-width: 22rem;
  --sidebar-nav-link-before-content: "";
  --sidebar-nav-link-before-content-l3: "";
  --sidebar-name-font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  --sidebar-name-font-weight: 500;

  --search-result-heading-font-size: 1em;
  --search-result-item-font-size: 0.9em;
  --search-result-heading-font-weight: 400;
  --search-result-heading-margin: 0 0 0.1em;

  --pre-font-family: "Operator Mono SSm A", "Operator Mono SSm B";

  --heading-font-family: "Operator SSm A", "Operator SSm B";
  --heading-font-weight: 500;
  --heading-h1-font-weight: 700;
  --heading-h1-font-size: 2.5em;

  --notice-font-family: "Operator SSm A", "Operator SSm B";
  --notice-font-style: italic;
  --notice-font-weight: 500;

  --blockquote-em-font-family: "Operator SSm A", "Operator SSm B";
  --blockquote-em-font-style: normal;
  --blockquote-em-font-weight: 700;

  --blockquote-font-family: "Operator SSm A", "Operator SSm B";
  --blockquote-font-style: italic;
  --blockquote-font-weight: 500;

  --code-font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  --code-font-size: 1em;
  --code-font-weight: 500;
  --code-tab-size: 2;
}

/* h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
} */

#main>h1:nth-child(1) {
  display: none;
}

.markdown-section {
  max-width: 840px;
}

.markdown-section a,
.markdown-section a:hover {
  text-decoration: none !important;
}

.markdown-section a:hover {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}

a.section-link {
  display: none;
}

.sidebar-nav>ul:nth-child(1)>li>a.section-link,
.sidebar-nav>ul:nth-child(1)>li>ul.children>li>a.section-link {
  display: block;
}

.sidebar ul li {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .docsify-copy-code-button,
body .docsify-copy-code-button::after {
  background: none !important;
  color: var(--copycode-color);
  position: relative;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  color: inherit;
  font-size: var(--font-size-s);
  line-height: 1;
}

.app-name-link img {
  height: 150px;
  width: 150px;
}

table>tbody>tr>td::before {
  display: none;
}
